body{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    text-decoration: none;
    padding: 2%;
}

.btn:hover{
    background-color: rgba(214, 214, 214, 0.493);
    border-radius: 20px;
}

.active__page{
    background-color: rgba(197, 197, 197, 0.39);
    border-radius: 20px;
}

.picture{
    border-radius: 10px;
    margin: 10px 0;
}

.all__containers{
    margin: 0 5%;
    background-color: rgb(245, 245, 245);
    height: 2000px;
    border-radius: 15px;
}

    .main__container{
        margin: 20px 5%;
        padding: 0 auto;
        height: 2000px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            margin: 20px 0;
            align-self: auto;
            margin: 10px 0;
            border-radius: 10px;
            padding: 5px 0;
            height: 70px;

            background-color: rgba(69, 48, 111, 1);
            font-size: large;
        }

            .header__left{
                align-self: center;
                width: 60%;
            }

                .main__page__btn,.vacation__page__btn,.announcements__page__btn,.companies__page__btn{
                    color: white;
                }

                

            .header__right{
                align-self: center;
            }

                .personal__area-item{
                 
                }

                .personal__area-picture{

                }

        .main{
           
        }

            .containers{
             
            }

                .announcements__block{
                    display: flex;
                    align-content: flex-start;
                    flex-direction: row;
                    flex-wrap: wrap;
                }

                .announcements__block-item{
                    background-color: rgba(77, 217, 247, 1);
                    width: 50%;
                    border-radius: 10px;
                    height: 200px;
                    text-align: center;
                }

                .add__vacation-item{
                  
                }

                .personal__area-heading{
                    text-align: center;
                }

                .personal__area-blocks{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                    .personal__area__sidebar{
                        background-color: rgb(202, 202, 202);
                        border-radius: 20px;
                        height: 500px;
                        width: 35%;
                        
                    }

                        .sidebar__links{
                            padding: 20px;
                            text-align: start;
                            display: flex;
                            flex-direction: column;
                        }

                            .nickname-info{
                                padding: 10% 2%;
                            }

                            .my__profile-btn{

                            }

                            .my__resume-btn{

                            }

                            .my__settings-btn{

                            }

                    .personal__area__main{
                        width: 60%;
                        border-radius: 20px;
                        background-color: rgb(193, 217, 218);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                        .usercard{
                            align-self: center;
                            width: 70%;
                            height: 60%;
                            padding: 10%;
                            background-color: white;
                            border-radius: 40px;
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            justify-content: space-between;
                        }

                            .usercard-text{
                                width: 60%;
                            }

                                .usercard-heading{
                                    font-size: small;
                                }

                                .usercard-info{

                                }

                                    .usercard-fio,.usercard-spec,.usercard-group{
                                        padding: 10px;
                                        border-bottom-style: solid;
                                        border-width: 1px;
                                    }

                            .usercard-photo{
                                width: 35%;
                            }

        .footer{
            
        }
    
    .sidebar__container{
        
    }

.reg-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-area {
    position: relative;

}

.input-area span {
    position: absolute;
    top: 0;
    right: -36%;
}

.reg-input {
    display: block;
    margin-bottom: 10px;
}

.reg-form {
    width: 60%;
}



.error-view {
    display: inline;
    border: 2px solid red !important;
}

.error-message {
    display: none;

    height: 100%;
    width: 35%;

    background-color: rgba(255, 0, 0, .3);
    border-radius: 5px;
    color: red;
    text-align: center;
    padding-top: 5px;
}

.error-message--active {
    display: inline-block;
}

.form-check-label {
    margin-left: 10px;
}


